@import url('https://rsms.me/inter/inter.css');

:root {
    --font: 'Inter';
    --black: #343232;
    --green: #01760D;
    --beage: #E7DFC6;
    --blue: #79ADDC;
    --background: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--font);
}

body {
    position: relative;
    background-color: var(--background);
    color: var(--black);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--beage);
    min-height: 13vh;
    width: 100%;
    z-index: 1;
    position: fixed;

}

main {
    padding: 13vh 0 13vh 0vh;
    min-height: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.7rem;
    min-height: 13vh;
    position: absolute;
    bottom: 0;
    padding: 0 5em;
    background-color: var(--black);
    color: #ffffff;
}

input {
    outline: none;
}


.searchbar-container {
    height: fit-content;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.1em;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.login-container span:nth-child(2) {
    font-size: 0.6rem;
    color: #6B6A6A;
}


#searchbar {
    border: none;
    width: 30ch;
    border-radius: 0.5em 0 0 0.5em;
    font-size: 1.25rem;
    outline: none;
    padding: 0 0.5em;
}

#search-btn {
    font-size: 1.25rem;
    background-color: #EAEAEA;
    padding: 0.10em;
    border-radius: 0 0.5em 0.5em 0;
    float: right;
}

.footer-text-container {
    padding: 0 0 0 7em;
}

.socialmedia-icons-container {
    display: flex;
    gap: 1.5em;
    padding: 0 2em 0 0;


}

.socialmedia-icons {
    width: 1.5rem;
}

/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */

.title-card {
    color: #ffff;
    display: flex;
    justify-content: end;
    background-image: url(../imgs/title-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    height: 70vh
}



.title-container {
    text-align: center;
    width: 42vw;
    margin: 0 8rem 0 0;
    padding: 5rem 10rem 0 0;
}

.title-container h2 {
    text-shadow: 2px 2px #6B6A6A;
}


.search-cards-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.search-cards-title {
    display: flex;
    margin-bottom: 2em;

}

.search-cards-container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    position: relative;

}

.search-card {
    width: 450px;
    height: 320px;
    background-size: cover;
    cursor: pointer;
}

.search-card:nth-child(1) {
    background-image: url(../imgs/search-plants.png);
    border-radius: 0 0 1.75rem 0;
}

.search-card:nth-child(2) {
    background-image: url(../imgs/search-seeds.png);
    border-radius: 0 1.75rem 0 0;
}

.search-card:nth-child(3) {
    background-image: url(../imgs/search-users.png);
    border-radius: 0 1.75rem 0 0;
}

.search-card:nth-child(4) {
    background-image: url(../imgs/search-location.png);
    border-radius: 0 0 1.75rem 0;
}

#cards-logo {
    position: absolute;
    top: 315px;
}

.collection-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

/* ;;;;;;;;;;;;;;;;;;
    Collection Cards
;;;;;;;;;;;;;;;;;;;;;*/

.collection-cards-container {
    display: flex;
    flex-wrap: wrap;

    width: 925px;
    padding: 0 0 3em 0;
    gap: 1em;

}


.collection-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    min-height: 256px;
    width: 189px;
    padding: 0 0 2rem 0;

    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border: solid #7E7E7E 1px;
    background-color: #fff;

}


/* ///////////
    Login
////////////// */

.login-section {
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem
}


.login-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

#login-title {
    text-align: center;
    font-size: 2rem;

}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.email-container,
.passwd-container {
    display: flex;
    flex-direction: column;
}

#forgot-passwd {
    font-size: 0.75rem;
    text-align: end;
    cursor: pointer;
    text-decoration: underline;
}

.btns-container {
    display: flex;
    gap: 1em;
    padding: 1em 0 0 0;
}

.inputs-container button {
    border-radius: 0.4em;
    border: none;
    width: 15ch;
    height: 2em;
    cursor: pointer;
}

#signup-btn {
    background-color: var(--background);
    border: solid var(--black) 1px;
}

#login-btn {
    color: var(--background);
    background-color: var(--black);
}

/* ///////////
    Modal
////////////*/

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-create-product {
    margin: 5% auto;
    background-color: #fff;
    padding: 1rem 1.5rem;
    width: 45rem;
    border: 1px solid #888;
    border-radius: 0.5rem;
    position: relative;
}

.close-btn {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
}

.create-product-inputs{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.category-container, .pname-container, .pdescription-container{
    display: flex;
    flex-direction: column;
    max-width: 24rem;
}

textarea{
    resize: none;
    outline: none;
}

.modal select{
    color: var(--background);
    border: none;
    height: 2em;
    width: 15ch;
    border-radius: 0.4em;
    background-color: var(--green);
}

.modal button{
    border-radius: 0.4em;
    border: none;
    width: 15ch;
    height: 2em;
    cursor: pointer
}

#add-product-btn{
    color: var(--background);
    background-color: var(--black);
}

.add-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 0 3em 5em 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

#add-image{
    background-color: #d9d9d9;
    width: 200px;
    height: 200px;
}

#add-image-btn{
    background-color: var(--blue);
    color: var(--background);
    width: 18ch;
}

/* ;;;;;;;;;;;;
    Cadastro
;;;;;;;;;;;;;;*/

.singup-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}


.singup-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    width: 40vw;
}

#singup-title{
    text-align: center;
    padding: 1em 0;
    font-size: 2rem;
   
}

.signup-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.singup-section{
    display: flex;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
}

.first-input-container,
.second-input-container,
.third-input-container,
.fourth-input-container,
.fifth-input-container,
.zipcode-input-container{
    display: flex;
    justify-content: space-between;
}

.name-container,
.signup-email-container,
.cpf-container,
.phone-container,
.city-container,
.state-container,
.signup-passwd-container,
.confirm-passwd-container,
.zipcode-container{
    width: 49%;
}

.address-container{
    width: 80%;
}

.number-container{
    width: 14%;
}



.photo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    
}

.photo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 170px;
    background-color: #D9D9D9;
    gap: 1em;
}

#signup-btn{
    background-color: var(--black);
    color:#ffffff;
    padding: 0.6;
    border-radius: 0.4em;
    border: none;
    width: 15ch;
    height: 2em;
    cursor: pointer;
}

.btn-container{
display: flex;
justify-content: center;
margin-top: 4vh;
}

input[type='file']{
    display: none;
}

.label-for-photo-btn{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color:#ffffff;
    padding: 0.6;
    border-radius: 0.4em;
    border: none;
    width: 15ch;
    height: 1.5em;
    cursor: pointer;
}

/* ;;;;;;;;;;;;;;;;;;;;;;;
    Histórico de trocas
;;;;;;;;;;;;;;;;;;;;;;;;;;*/

.exchanges-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exchanges-title-container h2{
    padding-top: 1em;
    font-size: 2em;
}

.exchanges-container{
    background-color: #ffff;
    width: 65vw;
    padding-bottom: 2em;
}

.btn-exchanges-container{
    display: flex;
    padding-top: 2em;
    padding-bottom: 1.5em;
    width: 20%;
}

#pending-exchanges-btn{
    padding: 0.2em;
    font-weight: bold;
    width: 50%;
    background-color: #ffff;
    border: 1px solid #959595;
    cursor: pointer;
}


#finalized-exchanges-btn{
    padding: 0.2em;
    font-weight: bold;
    width: 50%;
    background-color: #D9D9D9;
    border: 1px solid #959595;
    cursor: pointer;
}

#trade-wrapper{
display: flex;
justify-content: center;
}
.trade-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    display: flex;
    width: 95%;
    height: 8em;;
    background-color: #D9D9D9;
}

#trade-products-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7em;
    width: 20em;
}

.trade-product{
    background: #ffff;
    height: 7em;
    width: 6em;
    border-radius: 7px;
}

#arrow-exchanges{
    display: flex;
    flex-direction: column;
    width: 3em;
}

#exchanges-options-btn{
    width: 8em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#accept-btn{
    cursor: pointer;
    background-color: #01760D;
    padding: 0.5em;
    color:#ffff;
    border: none;
    border-radius: 7px;
    font-weight: bold;
}

#reject-btn{
    cursor: pointer;
    background-color: #e73131;
    padding: 0.5em;
    color:#ffff;
    border: none;
    border-radius: 7px;
    font-weight: bold;
}

#trade-users-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7em;
    width: 25em;

}

.trade-user{
    width: 6em;
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trade-user span:nth-child(2) {
    font-size: 0.75rem;
    color: #343232;
    font-weight: bold;
    padding-top: 0.5em;
}

.trade-user span:nth-child(3) {
    font-size: 0.75rem;
    color: #343232;
}



.user-trade-photo{
    border-radius: 50%;
    background-color: #ffff;
    width: 3.5em;
    height: 3.5em;
}


#arrow-exchanges-users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12em;
    gap:1em;
}

#arrow-exchanges-users span{
    font-size: 0.75em;
    color: #343232;
    font-weight: 600;
}

#arrow-users{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


    



