#modalNotification {
    width: 200px;
    min-height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: fixed;
    left: calc(50vw - 100px);
    top: calc(50vh - 50px);
    font-size: 16px;
    padding: 5px;
    z-index: 2;
    border-radius: 20px;
    background-color: #e8e8e8;
    transition: all .4s;
}

.modalNotfRed {
    border: solid 2px #ff000095;
    box-shadow: red 0 0 10px;
    transition: all .4s;
}

.modalNotfGreen {
    border: solid 2px #00ff2695;
    box-shadow: #00ff2f 0 0 10px;
    transition: all .4s;
}