
/* ///////////
    singup
////////////// */

.update-section {
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}


.update-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    width: 40vw;
}

#update-title{
    text-align: center;
    margin-top: 2em;;
    font-size: 2rem;
   
}

#update-title{
    font-size: 2rem;

}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.update-section{
    display: flex;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
}

.first-input-container,
.second-input-container,
.third-input-container,
.fourth-input-container,
.fifth-input-container,
.zipcode-input-container{
    display: flex;
    justify-content: space-between;
}

.name-container,
.email-container,
.cpf-container,
.phone-container,
.city-container,
.state-container,
.passwd-container,
.confirm-passwd-container,
.zipcode-container{
    width: 49%;
}

.address-container{
    width: 80%;
}

.number-container{
    width: 14%;
}



.photo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    
}

.photo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 170px;
    background-color: #D9D9D9;
    gap: 1em;
}

#update-btn{
    background-color: var(--black);
    color:#ffffff;
    padding: 0.6;
    border-radius: 0.4em;
    border: none;
    width: 15ch;
    height: 2em;
    cursor: pointer;
}

.btn-container{
display: flex;
justify-content: center;
margin-top: 4vh;
}

#photo-btn{
    background-color: var(--blue);
    color:#ffffff;
    padding: 0.6;
    border-radius: 0.4em;
    border: none;
    width: 15ch;
    height: 2em;
    cursor: pointer;
}